body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: fixed;
  background-color: #232946;
  z-index: 1;
}
html {
  scroll-behavior: smooth;
}

.main {
  padding: 0;
  margin: 0;
  background-image: url('../img/portfolioBg.jpg');
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 50%;
  min-height: 100%;
  z-index: 2;
  opacity: 0.5;
}
.nav {
  position: relative;
  z-index: 3;
}
.intro {
  width: 40%;
  position: absolute;
  left: 50%;
  top: 50%;
}
.beating {
  display: block;
}
.nav-menu {
  display: none;
}
.nav-menu:hover {
  color: #b8c1ec;
}
.about {
  width: 50%;
  height: 100%;
}

.close-button:hover {
  color: #b8c1ec;
}

.connect:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1389px) {
  .beating {
    display: none;
  }
  .intro {
    top: 40%;
  }
}
@media screen and (max-width: 1033px) {
  .side-bar {
    display: none;
  }
  .main {
    display: none;
  }
  .intro {
    left: 0%;
    top: 30%;
    width: 100%;
    padding-left: 50px;
  }
  .nav-prop {
    display: none;
  }
  .nav-menu {
    display: block;
  }
}

.contact-me:hover {
  opacity: 0.8;
}
.download:hover {
  opacity: 0.8;
  transition: all ease-in-out;
}
.nav-hover:hover {
  color: #b8c1ec;
  transition: all ease-in-out;
}

.side-menu:hover {
  fill: #eebbc3;
  transition: all 2s ease-out;
}
